
/* Loader Animation */
.loader-fade-out {
  animation: fadeOut 1s var(--transition-slow) forwards;
}


@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}


/* Scroll Reveals */
.reveal-up {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s var(--transition-slow), transform 1.2s var(--transition-slow);
}


.reveal-up.is-revealed {
  opacity: 1;
  transform: translateY(0);
}

